button{
    color: black;
    background-color: blanchedalmond;
    border: solid 1px black;
    border-radius: 5px;
}

table{
    border: solid 1px black;
    border-radius: 2px;
    margin-top: 10px;
}
tr, td{
    padding: 8px;
}

tr:nth-child(even){
    background-color: #dbf3ff;
}

tr:hover{
    background-color: #a1dbfd;
}